<!-- <ul>
    <li>
        <div class="v-thumbnail">
            <img src="image_url" alt="Video Thumbnail">
        </div>
        <div class="v-info">
            <h3>视频名称</h3>
            <div class="v-progress-bar">
                <div class="v-progress"></div>
            </div>
            <div class="flex jb">
                <div class="v-file-info flex ja">
                    <p>时长: 00:10:00</p>
                    <p>文件大小: 100MB</p>
                    <p>视频格式: MP4</p>
                </div>
                <div class="v-download-info flex ja">
                    <p>当前下载速度: 1MB/s</p>
                    <p>完成个数/总数量: 5/10</p>
                    <p>已完成进度: 50.00%</p>
                </div>
            </div>
        </div>
        <div class="v-actions flex ja">
            <button class="v-download">下载</button>
            <button class="v-pause">暂停</button>
            <button class="v-delete">删除</button>
        </div>
    </li>
 
</ul> -->

<!-- ng -->
<div class="v-body flex js">
    <!-- <app-download-local></app-download-local>
    <app-download-inprogress></app-download-inprogress> -->
    <div class="v-sidebar">
        <ul class="flex acc">
            <li class="swiper-slide navbar-item" *ngFor="let item of downloadRouter">
                <a [routerLink]="item.path" class="flex">
                    <i [className]="[item.data.icon]"></i>
                    <span> {{item.title}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="download-page-body">
        <router-outlet></router-outlet>
    </div>
</div>