<!-- ng -->
<div class="v-body flex js">
    <!-- <app-download-local></app-download-local>
    <app-download-inprogress></app-download-inprogress> -->
    <div class="v-sidebar">
        <ul class="flex acc">
            <li class="swiper-slide navbar-item" *ngFor="let item of downloadRouter">
                <a [routerLink]="item.path" class="flex navItem">
                    <div [className]="[item.data.icon]"></div>
                    <span> {{item.title}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="download-page-body">
        <router-outlet></router-outlet>
    </div>
</div>