<div class="v-body flex js">
    <div class="v-sidebar">
        <ul class="flex acc">
            <li class="swiper-slide navbar-item v-pointer" *ngFor="let item of options" (click)="changeTab(item.value)">
                {{item.label}}
            </li>
        </ul>
    </div>
    <div class="setting-page-body  flex cc">
        <app-setting-executejs *ngIf="activeIdx === 0"></app-setting-executejs>
        <app-setting-video *ngIf="activeIdx === 1"></app-setting-video>
        <app-setting-user *ngIf="activeIdx === 2"></app-setting-user>
        <app-setting-system *ngIf="activeIdx === 3"></app-setting-system>
    </div>
</div>