.video-player-container {
    .video-player {
        padding: 20px;
        width: 80%;
        height: 100%;
        /* 设置视频播放器的宽度为80% */
        box-sizing: border-box;
        background-image: url('/assets/img/load.jpg');
        background-size: 100% 100%;
        background-position: center center;
        object-fit: cover;
        background-attachment: fixed;
    }

    .video-info {
        padding: 20px;
        background-color: #f2f2f2;
        width: 20%;
        height: 100%;
        box-sizing: border-box;
        /* 设置视频信息块的宽度为20% */
    }
}