<div class="home-nav-body" *ngIf="mode === 'tagMode'">
    <div class="module" *ngFor="let item of navList">
        <div class="module-heading flex">
            <h2 class="module-title">
                <a href="javascript:;">
                    <span>{{item.key}}</span>

                </a>
            </h2>
            <div class="module-tab-items">
                <div class="module-tab-title">
                    选择类型<span class="close-drop"><i class="icon-close"></i></span>
                </div>
                <!-- <a class="module-heading-more" href="/s/9.html">更多<i class="icon-arrow-right"></i></a> -->
                <div class="module-heading-more" (click)="setMode('allMode',item.key)">更多<i
                        class="icon-arrow-right"></i></div>
            </div>
            <div class="shortcuts-mobile-overlay"></div>
        </div>
        <div class="module-main tab-list  active">
            <div class="module-items  module-poster-items-base ">
                <div *ngFor="let video of item.val" (click)="goToPlayer(video)" routerLinkActive="router-link-active"
                    [title]="video.nm" class="module-poster-item module-item v-pointer">
                    <div class="module-item-cover">
                        <div class="module-item-note">
                            {{video.dt | videoTime}} </div>
                        <div class="module-item-pic">
                            <!-- <img class="lazy lazyload" data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif"
                                alt="中国奇谭" src="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" /> -->
                            <img class="lazy lazyload"
                                data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" [alt]="video.nm"
                                [src]="getImageUrl(video.id)" />
                        </div>
                    </div>
                    <div class="module-poster-item-info">
                        <div [class]="['module-poster-item-title',getVideoState(video)]">{{video.nm}}</div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="home-nav-body" *ngIf="mode === 'allMode'">
    <h2 class="back_nav module-title" (click)="setMode('tagMode')">
        <a href="javascript:;">返回</a>
        <span>{{key}}</span>
    </h2>
    <!-- <div class="">
        <div class="module-main tab-list  active" >
            <div class="module-items  module-poster-items-base ">
                <div *ngFor="let video of allVideos" (click)="goToPlayer(video)" routerLinkActive="router-link-active"
                    [title]="video.nm" class="module-poster-item module-item v-pointer">
                    <div class="module-item-cover">
                        <div class="module-item-note">
                            {{video.dt | videoTime}} </div>
                        <div class="module-item-pic">
                            
                            <img class="lazy lazyload"
                                data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" [alt]="video.nm"
                                [src]="getImageUrl(video.id)" />
                        </div>
                    </div>
                    <div class="module-poster-item-info">
                        <div class="module-poster-item-title">{{video.nm}}</div>
                    </div>
                </div>


            </div>
        </div>
    </div> -->

    <div class="modules flex">
        <div class="pack_yk_pack" *ngFor="let item of allVideos" type="horizontal" (click)="goToPlayer(item)">
            <div class="pack_pack_cover  pack_pack_preview">
                <a class="aplus_exp aplus_clk" data-scm="" data-spm="d_zj1_2" data-name="a_pos"
                [title]="item.nm">
                    <img [src]="getImageUrl(item.id)">
                    <span class="pack_p_rb">
                        <span> {{item.dt | videoTime}} </span>
                    </span>
                </a>
            </div>
            <div class="pack_info_list" [title]="item.nm">
                <div class="pack_title " style="max-height:44px"></div>
                <div class="pack_subtitle">{{ item.nm }}</div>
            </div>
        </div>
    </div>

    <!-- <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)"></app-pagination> -->
    <div class="pagination flex cc">
        <button [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">Prev</button>
        <span>{{currentPage}} / {{totalPages}}</span>
        <button [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">Next</button>
    </div>

</div>

<!-- <div class="module">
    <div class="module-heading">
        <h2 class="module-title">
            <a href="/s/9.html">
                国产动漫<span class="module-title-en">GuoChanDongMan</span>
            </a>
        </h2>
        <div class="module-tab-items">
            <div class="module-tab-title">
                选择类型<span class="close-drop"><i class="icon-close"></i></span>
            </div>
            <a class="module-heading-more" href="/s/9.html">更多<i class="icon-arrow-right"></i></a>
        </div>
        <div class="shortcuts-mobile-overlay"></div>
    </div>
    <div class="module-main tab-list  active">
        <div class="module-items  module-poster-items-base ">
            <a href="/v/4862.html" title="中国奇谭" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload" data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif"
                            alt="中国奇谭" src="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">中国奇谭</div>
                </div>
            </a>
            <a href="/v/4903.html" title="维将" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload" data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif"
                            alt="维将" src="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">维将</div>
                </div>
            </a>
            <a href="/v/4912.html" title="我家大师兄有点靠谱" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload" data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif"
                            alt="我家大师兄有点靠谱" src="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">我家大师兄有点靠谱</div>
                </div>
            </a>
            <a href="/v/4995.html" title="关喵什么事" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload" data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif"
                            alt="关喵什么事" src="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">关喵什么事</div>
                </div>
            </a>
            <a href="/v/10184.html" title="我是学校唯一的人类" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload" data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif"
                            alt="我是学校唯一的人类" src="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">我是学校唯一的人类</div>
                </div>
            </a>
            <a href="/v/10186.html" title="伍六七之暗影宿命" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload" data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif"
                            alt="伍六七之暗影宿命" src="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">伍六七之暗影宿命</div>
                </div>
            </a>
            <a href="/v/10190.html" title="师兄啊师兄" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload" data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif"
                            alt="师兄啊师兄" src="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">师兄啊师兄</div>
                </div>
            </a>
            <a href="/v/10196.html" title="我捡起了一地属性" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload" data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif"
                            alt="我捡起了一地属性" src="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">我捡起了一地属性</div>
                </div>
            </a>
            <a href="/v/10251.html" title="炼气十万年" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        更新至第57集 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload" data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif"
                            alt="炼气十万年" src="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">炼气十万年</div>
                </div>
            </a>
            <a href="/v/10258.html" title="李林克的小馆儿 第二季" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload" data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif"
                            alt="李林克的小馆儿 第二季" src="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">李林克的小馆儿 第二季</div>
                </div>
            </a>
            <a href="/v/10266.html" title="凡人修仙传重制版" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        更新至第21集 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload" data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif"
                            alt="凡人修仙传重制版" src="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">凡人修仙传重制版</div>
                </div>
            </a>
            <a href="/v/10305.html" title="西行纪之暗影魔城" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        HD </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload" data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif"
                            alt="西行纪之暗影魔城" src="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">西行纪之暗影魔城</div>
                </div>
            </a>
            <a href="/v/10311.html" title="深海" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        HD国语 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload" data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif"
                            alt="深海" src="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">深海</div>
                </div>
            </a>
            <a href="/v/10320.html" title="熊出没·伴我“熊芯”" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        HD </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload" data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif"
                            alt="熊出没·伴我“熊芯”" src="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">熊出没·伴我“熊芯”</div>
                </div>
            </a>
            <a href="/v/10329.html" title="黄金庭院：冬日里的新年愿望" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload" data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif"
                            alt="黄金庭院：冬日里的新年愿望" src="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">黄金庭院：冬日里的新年愿望</div>
                </div>
            </a>
            <a href="/v/10331.html" title="喜羊羊与灰太狼之勇闯四季城" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload" data-original="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif"
                            alt="喜羊羊与灰太狼之勇闯四季城" src="https://oss-cdn.meowa.cn/mxtheme/images/loading.gif" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">喜羊羊与灰太狼之勇闯四季城</div>
                </div>
            </a>
        </div>
    </div>
</div> -->

<!-- <div class="module">
    <div class="module-heading">
        <h2 class="module-title">
            <a href="/s/10.html">
                日本动漫<span class="module-title-en">RiBenDongMan</span>
            </a>
        </h2>
        <div class="module-tab-items">
            <div class="module-tab-title">
                选择类型<span class="close-drop"><i class="icon-close"></i></span>
            </div>
            <a class="module-heading-more" href="/s/10.html">更多<i class="icon-arrow-right"></i></a>
        </div>
        <div class="shortcuts-mobile-overlay"></div>
    </div>
    <div class="module-main tab-list  active">
        <div class="module-items  module-poster-items-base ">
            <a href="/v/5532.html" title="真・进化之实" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload" alt="真・进化之实"
                            src="/upload/vod/20230117-6/dedc12bd3ffb26f13c632291b6ce6793.jpg" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">真・进化之实</div>
                </div>
            </a>
            <a href="/v/5533.html" title="异世界悠闲农家" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload"
                            data-original="/upload/vod/20230117-6/81423485880234e40bb1d5bed6c1df34.jpg" alt="异世界悠闲农家"
                            src="/upload/vod/20230117-6/81423485880234e40bb1d5bed6c1df34.jpg" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">异世界悠闲农家</div>
                </div>
            </a>
            <a href="/v/5534.html" title="爹地拍档" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        更新至第12集 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload"
                            data-original="/upload/vod/20230117-6/c486bc519de7bd82033135ccd258de18.jpg" alt="爹地拍档"
                            src="/upload/vod/20230117-6/c486bc519de7bd82033135ccd258de18.jpg" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">爹地拍档</div>
                </div>
            </a>
            <a href="/v/5535.html" title="银砂糖师与黑色妖精" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        更新至19集 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload"
                            data-original="/upload/vod/20230117-6/a3db3a140193b6ceac2c3089007ed7df.jpg" alt="银砂糖师与黑色妖精"
                            src="/upload/vod/20230117-6/a3db3a140193b6ceac2c3089007ed7df.jpg" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">银砂糖师与黑色妖精</div>
                </div>
            </a>
            <a href="/v/5536.html" title="宝可梦：目标是宝可梦大师" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload"
                            data-original="/upload/vod/20230117-6/e5cceb5429828b50b1ded7bfc88c8c8d.jpg"
                            alt="宝可梦：目标是宝可梦大师" src="/upload/vod/20230117-6/e5cceb5429828b50b1ded7bfc88c8c8d.jpg" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">宝可梦：目标是宝可梦大师</div>
                </div>
            </a>
            <a href="/v/5539.html" title="阿鲁斯的巨兽" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload"
                            data-original="/upload/vod/20230117-6/a079b9101b188bd65af6a686b28cc9e5.jpg" alt="阿鲁斯的巨兽"
                            src="/upload/vod/20230117-6/a079b9101b188bd65af6a686b28cc9e5.jpg" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">阿鲁斯的巨兽</div>
                </div>
            </a>
            <a href="/v/5541.html" title="傲娇恶役大小姐莉泽洛特与实况转播远藤君和解说员小林" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload"
                            data-original="/upload/vod/20230117-6/1419b07553a8fca0d849c54d5fbf07ad.jpg"
                            alt="傲娇恶役大小姐莉泽洛特与实况转播远藤君和解说员小林"
                            src="/upload/vod/20230117-6/1419b07553a8fca0d849c54d5fbf07ad.jpg" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">傲娇恶役大小姐莉泽洛特与实况转播远藤君和解说员小林</div>
                </div>
            </a>
            <a href="/v/5545.html" title="别当欧尼酱了！" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload"
                            data-original="/upload/vod/20230117-6/5419fffb7bce2c79f2ca0b5bb42ff07d.jpg" alt="别当欧尼酱了！"
                            src="/upload/vod/20230117-6/5419fffb7bce2c79f2ca0b5bb42ff07d.jpg" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">别当欧尼酱了！</div>
                </div>
            </a>
            <a href="/v/5547.html" title="冰剑的魔术师将要统一世界" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload"
                            data-original="/upload/vod/20230117-6/28ed05d83924de6d846da1d6924c3026.jpg"
                            alt="冰剑的魔术师将要统一世界" src="/upload/vod/20230117-6/28ed05d83924de6d846da1d6924c3026.jpg" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">冰剑的魔术师将要统一世界</div>
                </div>
            </a>
            <a href="/v/5548.html" title="间谍教室" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload"
                            data-original="/upload/vod/20230117-6/4bc4d3307589e27a2011628a90cad337.jpg" alt="间谍教室"
                            src="/upload/vod/20230117-6/4bc4d3307589e27a2011628a90cad337.jpg" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">间谍教室</div>
                </div>
            </a>
            <a href="/v/5550.html" title="大雪海的凯纳" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload"
                            data-original="/upload/vod/20230117-6/6fea933e951f3a659d2ba659910cfccf.jpg" alt="大雪海的凯纳"
                            src="/upload/vod/20230117-6/6fea933e951f3a659d2ba659910cfccf.jpg" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">大雪海的凯纳</div>
                </div>
            </a>
            <a href="/v/5552.html" title="不相信人类的冒险者们好像要去拯救世界" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload"
                            data-original="/upload/vod/20230117-6/a8cb8881aabecd789cc7e914822f8460.jpg"
                            alt="不相信人类的冒险者们好像要去拯救世界"
                            src="/upload/vod/20230117-6/a8cb8881aabecd789cc7e914822f8460.jpg" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">不相信人类的冒险者们好像要去拯救世界</div>
                </div>
            </a>
            <a href="/v/5553.html" title="小智是女孩啦！" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload"
                            data-original="/upload/vod/20230117-6/d6c5946b3d6ce6f0c458635066ecb099.jpg" alt="小智是女孩啦！"
                            src="/upload/vod/20230117-6/d6c5946b3d6ce6f0c458635066ecb099.jpg" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">小智是女孩啦！</div>
                </div>
            </a>
            <a href="/v/5556.html" title="转生王女与天才千金的魔法革命" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload"
                            data-original="/upload/vod/20230117-6/026085e248fb9863cd85fb8acc2f22a5.jpg"
                            alt="转生王女与天才千金的魔法革命" src="/upload/vod/20230117-6/026085e248fb9863cd85fb8acc2f22a5.jpg" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">转生王女与天才千金的魔法革命</div>
                </div>
            </a>
            <a href="/v/5560.html" title="冰属性男子与酷酷女同事" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload"
                            data-original="/upload/vod/20230117-6/4c9545477cc07ade048d538c078ef0ee.jpg"
                            alt="冰属性男子与酷酷女同事" src="/upload/vod/20230117-6/4c9545477cc07ade048d538c078ef0ee.jpg" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">冰属性男子与酷酷女同事</div>
                </div>
            </a>
            <a href="/v/5561.html" title="拥有超常技能的异世界流浪美食家" class="module-poster-item module-item">
                <div class="module-item-cover">
                    <div class="module-item-note">
                        已完结 </div>
                    <div class="module-item-pic">
                        <img class="lazy lazyload"
                            data-original="/upload/vod/20230117-6/5656a8fc8f06b3a5be8941d22827a701.jpg"
                            alt="拥有超常技能的异世界流浪美食家" src="/upload/vod/20230117-6/5656a8fc8f06b3a5be8941d22827a701.jpg" />
                    </div>
                </div>
                <div class="module-poster-item-info">
                    <div class="module-poster-item-title">拥有超常技能的异世界流浪美食家</div>
                </div>
            </a>
        </div>
    </div>
</div> -->