<div class="header-box">
    <div class="logo nonenav">
        <a href="/" title="樱花动漫">
            <img class="logo2" src="https://oss-cdn.meowa.cn/mxtheme/images/logos.png" alt="樱花动漫">
            <img class="logo1" src="https://oss-cdn.meowa.cn/mxtheme/images/logos.png">
        </a>
    </div>
    <div class="search-box nonenav">
        <div class="searchbar-main">
            <form name="search" method="get" action="/vch.html" onsubmit="">
                <div class="searchbar">
                    <input class="search-input" type="text" name="wd" autocomplete="off"
                        placeholder="输入番剧关键词，请少字也别错字了....">
                    <button class="search-btn search-go" id="searchbutton" type="submit">
                        <i class="icon-search"></i>
                    </button>
                    <button class="cancel-btn" type="button">取消</button>
                </div>
                <div class="search-recommend-box">
                    <div class="search-recommend">
                        <div class="search-recommend-title">
                            <strong>大家都在搜</strong>
                        </div>
                        <div class="search-tag">

                            <a href="/vch%E6%B5%B7%E8%B4%BC%E7%8E%8B.html" class="hot "><i class="icon-hot"></i>海贼王</a>

                            <a href="/vch%E7%81%AB%E5%BD%B1%E5%BF%8D%E8%80%85.html" class="hot "><i
                                    class="icon-hot"></i>火影忍者</a>

                            <a href="/vch%E6%96%97%E7%BD%97%E5%A4%A7%E9%99%86.html" class="hot "><i
                                    class="icon-hot"></i>斗罗大陆</a>

                            <a href="/vch%E9%97%B4%E8%B0%8D%E8%BF%87%E5%AE%B6%E5%AE%B6.html" class="hot "><i
                                    class="icon-hot"></i>间谍过家家</a>

                            <a href="/vch%E5%A5%B3%E5%8F%8B%E6%88%90%E5%8F%8C.html" class=""><i
                                    class="icon-hot"></i>女友成双</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="header-op">
        <div class="header-op-list">
            <div class="drop">
                <div class="header-op-list-btn header-op-history"><i class="icon icon-history-o"></i><span>观看记录</span>
                </div>
                <div class="drop-content drop-history">
                    <div class="drop-content-box">
                        <ul class="drop-content-items historical">
                            <li class="drop-item drop-item-title">
                                <i class="icon icon-history"></i><strong>我的观影记录</strong>
                            </li>
                            <li class="drop-item drop-item-content nolist">
                                <div class="drop-prompt">暂无观看影片的记录</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="shortcuts-mobile-overlay"></div>
            </div>
            <div class="header-op-list-btn header-op-search">
                <i class="icon icon-search"></i>
            </div>
        </div>
    </div>
</div>