app-root{

}

#app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--app-header-height);
    box-sizing: border-box;
    background-color: #ffffff;
    z-index: 9999;
}

.module-tab-week {
    .v-nav-item a {
        text-decoration: none;
        color: #333;
        display: block;
        width: 100%;
        text-align: center;
        user-select: none;

        &.router-link-active {
            color: var(--mdc-outlined-text-field-error-hover-outline-color)
        }
    }

}

.app-system-handle {
    .iconfont {
        margin: 1rem;
    }
}