<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div id="app-header" class="flex jb">
    <ul class="module-tab-week m-module-tab-week">
        <li class="v-nav-item  module-tab-item m-tab-item tab-item" *ngFor="let item of routes">
            <a [routerLink]="[item.path]" routerLinkActive="router-link-active">{{item.title }}</a>
        </li>
    </ul>
    <div class="app-system-handle flex">
        <div class="iconfont v-pointer setting" ></div>
        <div class="iconfont v-pointer home" (click)="backHome()"></div>
        <div class="iconfont v-pointer mini" (click)="min()"></div>
        <div class="iconfont v-pointer max" (click)="max()"></div>
        <div class="iconfont v-pointer quit" (click)="quit()"></div>
        <!-- <i class="iconfont icon-suoxiao"></i> -->
    </div>
</div>
<router-outlet></router-outlet>