<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div id="app-header" class=" flex jb">
    <ul class="module-tab-week m-module-tab-week">
        <li class="v-nav-item  module-tab-item m-tab-item tab-item" *ngFor="let item of routes">
            <a [routerLink]="[item.path]" routerLinkActive="router-link-active">{{item.title }}</a>
        </li>
    </ul>
    <div class="app-system-handle flex">
        <i class="iconfont icon-suoxiao v-pointer" (click)="min()"></i>
        <i class="iconfont icon-chuangkou1 v-pointer" (click)="max()"></i>
        <i class="iconfont icon-guanbi1 v-pointer" (click)="quit()"></i>
        <!-- <i class="iconfont icon-suoxiao"></i> -->
    </div>
</div>
<router-outlet></router-outlet>