.flex {
    display: flex;

    &.cc {
        justify-content: center;
        align-items: center;
    }

    &.acc {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &.ja {
        justify-content: space-around;
    }

    &.je {
        justify-content: space-evenly;
    }

    &.jb {
        justify-content: space-between;
    }
}

 

.v-pointer {
    cursor: pointer;

    &:hover {
        color: var(--mdc-outlined-text-field-error-hover-outline-color)
    }
}

.v-select {
    user-select: none;
}