/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    --app-header-height: 60px;
    --app-body-height: calc(100vh - var(--app-header-height));
    --app-sidebar-width: 200px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333333
}

@font-face {
    font-family: 'iconfont';
    /* Project id 4225766 */
    src: url('//at.alicdn.com/t/c/font_4225766_yfjq6l9vrqs.woff2?t=1692979753188') format('woff2'),
        url('//at.alicdn.com/t/c/font_4225766_yfjq6l9vrqs.woff?t=1692979753188') format('woff'),
        url('//at.alicdn.com/t/c/font_4225766_yfjq6l9vrqs.ttf?t=1692979753188') format('truetype');
}